.route-container .card-container .image-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.route-container .card-container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 65px 15px;
    margin-top: 20px;
}

.route-container .card-container .image-container .avatar-image .MuiAvatar-root {
    border-radius: 70px;
    position: relative;
    width: 125px;
    height: 125px;
    margin-left: 20px;
    margin-right: 40px;
}

.container {
    display: flex;
}

.title-container {
    align-self: center;
}

.nationality {
    display: flex;
    position: center;
    align-items: center;
    width: 600px;
    height: 25px;
    right: 500px;
    color: grey;
    font-weight: 400;
}

.nationality .flag {
    /*vertical-align: text-bottom;*/
    margin-right: 5px;
}

.button-divider {
    position: absolute;
    right: 20px;
}

.button-divider > button:nth-child(1) {
    margin-right: 15px;
}