.form-checkbox-container {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

.MuiFormControlLabel-label {
    margin-left: -5px !important;
    margin-bottom: -2px !important;
}