.booksContainer{
    margin-top: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    height: 500px;
}

.bookDisplayContainer {
    margin-right: 15px;
}

.container {
    display: flex;
    align-items: center;
}

.titleContainer h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.titleContainer .birthdayContainer {
    display: flex;
    flex-flow: row nowrap;
}

.titleContainer .birthdayContainer >:nth-child(1){
    margin-right: 15px;
}