.textField {
    margin-left: auto;
    margin-right: auto;
    width: 200;
  }
  .form-input-container {
    margin: 8px;
}
.select{
  width: 226px !important;
  margin-right: 15px;
}
.date{
  width: 202px !important;
}
.label{
  margin-left: 14px;
}
.button{
  width: 100px;
}
.spacingw{
  width: 89px;
}
.spacingh{
  height: 10px;
}
.route-container .profile-edit-form-container > form >.profile-edit-buttons-container > button {
  margin-right: 10px;
  margin-top: 10px;
}