.hoverable-avatar {
    border-radius: 70px;
    position: 'relative';
    width: 125px;
    height: 125px;
    margin-left: 20px;
    margin-right: 40px;
}

.hoverable-avatar > div {
    border-radius: 70px;
    width: 125px;
    height: 125px;
}

.hoverable-avatar > span {
    border-radius: 70px;
    width: 40px;
    height: 40px;
}

.hoverable-avatar > span > button  {
    border-radius: 70px;
    width: 40px;
    height: 40px;
}

.hoverable-avatar > span > button > span {
    border-radius: 70px;
    width: 40px;
    height: 40px;
    left: -5px;
}

span > span > button {
    background-color: green;
}

.modal-avatar-image {
    width: 125px;
    height: 125px;
}