.resultsContainer {
    width: 100%;
    height: 100%;
}

.resultsContainer .title {
    font-weight: 500;
    margin: 30px 10px 0 50px;
}

.results-container .resultsAuthorsContainer {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 30px;
}

.resultsContainer .resultsBooksContainer {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid rgba();
}

.noResults {
    font-size: 24px !important;
    font-weight: 100;
    color: rgb(148, 148, 148);
    padding: 40px;
}