.author-card-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px;
}

.author-card-container div {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.author-card-container p {
    font-weight: 400;
}

.author-card-container p:nth-child(3) {
    font-size: 20px;
    font-weight: 500;
}