.title {
    font-weight: bold !important;
}

.buttonsContainer {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
}

.bigButtonContainer {
    margin-right: 10px;
    margin-bottom: 10px;
}

.bigButton {
    border-radius: 15px !important;
}