html, body {
    margin: 0;
    
}

#root {
    
}

.route-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;

    /* !! warning, 64px and 44px are header and footer heights
    respectively, if they change, you should change here too */
    min-height: calc(100vh - 64px - 44px);
}

.route-container .card-container {
    width: 600px;
    padding: 20px 65px 15px;
    margin-top: 20px;
}

.route-container .card-container-narrow {
    max-width: 350px;
    padding: 20px 65px 15px;
    margin-top: 20px;
}

html, body {
    margin: 0;
}

.form-input {
    width: 100%;
    margin: 8px;
}
.typography-bold {
    font-weight: bold !important;
}