.book-card-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;    
}


.book-card-container img {
    width: 150px;
    height: 200px;
    margin: 15px 25px;    
}

.book-card-container .book-card-content-container {
    display: flex;
    flex-flow: column nowrap;    
}

.book-card-container .book-card-content-container .titlee {
    font-weight: bold;
}

.book-card-container .book-card-content-container .author {
    font-weight: 400;
}

.book-card-container .book-card-content-container .subtitle {
    font-weight: bold;
    margin-right: 10px;
}

.book-card-container .book-card-content-container div {
    display: flex;
    flex-flow: row nowrap;
}

.book-card-container .book-card-content-container div:nth-child(6) {
    display: flex;
    flex-flow: column nowrap;
}
