.BookDisplay{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f71735;
    height: 300px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
}

.ratingDisplay{
    margin-top: 15px;
    margin-bottom: 50px;
    align-items: center;
}

.BookName{
    display: inline-block;
}

.media {
    height: 140px;
}
.flex {
    display: flex;
    padding: 10px;
}
.stars {
    margin-left: auto;
}
.fullHeight {
    height: 100%;
}

/* results media */
.resultsVariantCard {
    display: flex;
    flex-flow: row nowrap;
    padding: 40px;
}

.resultsVariantCard .media {
    width: 180px;
    height: auto;
    flex-grow: 1;
    margin-right: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.resultsVariantCard .info {
    flex-grow: 2;
}

.resultsVariantCard .info .infoSubitem {
    display: flex;
    flex-flow: row wrap;
}

.resultsVariantCard .info .infoSubitem:nth-child(3)  {
    margin-top: 20px;
}

.resultsVariantCard .info .infoSubitem > :first-child  {
    font-weight: bold;
    margin-right: 5px;
}