/* Normal BookDisplay */
/* Shown in author view */
.cardContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    width: 200px;
    height: 100%;
}

.root {
    display: flex;
    height: 490px;
}

.starsContainer {
    display: flex;
    align-self: flex-end;
    padding: 3px;
}

.mediaContainer {
    height: 240px;
}

.media {
    height: 100%;
}

.textsContainer {
    display: flex;
    flex-grow: 1;
}

.title {

}

/* alt shown in results */
.altCardContainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
}

.altMediaContainer {
    width: 140px;
    height: 220px;
    margin-right: 20px;
}

.AltTextsContainer {

}

.AltInfoSubitem {
    display: flex;
    flex-flow: row nowrap;
}

.AltInfoSubitem > :first-child {
    font-weight: bold;
    margin-right: 5px;
}
