.button-container{
    display: inline-block;
    float: right;
    margin-left: 30px;
}

.route-container .card-container {
    padding-bottom: 50px;
}

.book-container {
    padding-bottom: 50px;
}

.title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
}

.rating {
    font-weight: bold;
    color: darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-divider {
    position: absolute;
    right: 20px;
}

.button-divider > button:nth-child(1) {
    margin-right: 15px;
}